body {
    max-width: 100%;
    max-height: 100%;
 }

img {
    max-width: 100%;
    max-height: 100%;
 }


 .container-mobile {
    margin: 0 auto;
    width: 100%;
 }

 .modal-mobile {
    width: 100%;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: #fff;
        color: #000;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        padding: 0% 0% 0% 10%;
    }

    .close {
        background-color: transparent;
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        right: calc(-100% + 64px);
        top: 16px;
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 2.5px;
            height: 24px;
            background-color: #000;
      }
      &:before {
          transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
    }
    }
}

.modal {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: #fff;
        color: #000;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        padding: 0% 0% 0% 10%;
    }

    .close {
        background-color: transparent;
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        right: calc(-100% + 64px);
        top: 16px;
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 2.5px;
            height: 24px;
            background-color: #000;
      }
      &:before {
          transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
    }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');


html {
  background-color: #3c3569;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0px;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin-top: 10%;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #1c11a6;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #441bd7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=email] {
  background-color: #fafafa;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #311ae5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=email]:placeholder {
  color: #cccccc;
}

input[type=password] {
  background-color: #fafafa;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #311ae5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder {
  color: #cccccc;
}




/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}


.header_event {
    position: absolute;
    width: 99%;
    height: 680px;
    top: 90px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    }
    


.header_event_mobile {
position: absolute;
width: 95%;
height: 680px;
top: 90px;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}

.header_img_page {
/* Rectangle 2.15 */
position: absolute;
width: 240px;
height: 198px;
left: 137px;
top: 142px;
margin-left: 0;
margin-top: -8%;

background: url(https://firebasestorage.googleapis.com/v0/b/meaple-f95d3.appspot.com/o/img%2Fconaje_logo.jpg?alt=media&token=84323f4f-6715-4414-b35a-7aab30eb2ee3);
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
border-radius: 10px;
}

.header_img_page_mobile {
    /* Rectangle 2.15 */
    position: absolute;
    width: 60px;
    height: 60px;
    left: 18%;
    top: 6%;
    margin-left: -7%;
    margin-top: -8%;
    
    background: url(https://firebasestorage.googleapis.com/v0/b/meaple-f95d3.appspot.com/o/img%2Fconaje_logo.jpg?alt=media&token=84323f4f-6715-4414-b35a-7aab30eb2ee3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    }

.header_name_page {
  
position: absolute;
width: 98px;
height: 42px;
left: 390px;
top: 168px;
margin-left: 0;
margin-top: -8%;

font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 150%;
/* identical to box height, or 42px */

display: flex;
align-items: center;

color: #000000;
}

.header_name_page_mobile {
  
    width: 98px;
    height: 42px;
    left: 390px;
    margin-left: 30%;
    margin-top: 3%;
    
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 42px */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    }

.header_subname_page{
position: absolute;
width: 222px;
height: 18px;
left: 390px;
top: 215px;
margin-left: 0;
margin-top: -8%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #ACACAC;
}

.header_subname_page_mobile{
    width: 222px;
    height: 18px;
    margin-left: 30%;
    margin-top: -6%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #ACACAC;
    }

.header_follow_page{
position: absolute;
width: auto;
height: 20px;
left: 390px;
top: 301px;
margin-left: -7%;
margin-top: -8%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;
text-align: left;

/* Títulos */

color: #0F589C;
}

.header_about_page{
  
position: absolute;
width: 187px;
height: 36px;
left: 578px;
top: 168px;
margin-left: 0;
margin-top: -8%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;

/* link */

color: #2C0186;
}

.header_about_page_mobile{
  
    width: 187px;
    height: 36px;
    margin-left: 9%;
    margin-top: 10%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    display: flex;
    align-items: center;
    
    /* link */
    
    color: #2C0186;
    }

.header_about_page_text {
position: absolute;
width: 398px;
height: 130px;
left: 579px;
top: 215px;
margin-left: 0;
margin-top: -8%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

/* text */

color: #0C0023;
}

.header_about_page_text_mobile {
    width: 80%;
    height: 130px;
    margin-top: 3%;
    margin-left: 10%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    /* text */
    
    color: #0C0023;
    }

.header_about_link_01{

position: absolute;
width: 165px;
height: 20px;
left: 1099px;
top: 215px;
margin-left: 0;
margin-top: -8%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

/* link */

color: #2C0186;
}

.header_about_link_01_mobile{

    width: 165px;
    height: 20px;
    margin-left: 65%;
    margin-top: -75%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    /* link */
    
    color: #2C0186;
    }

.header_about_link_02{

  position: absolute;
  width: auto;
  height: 15px;
  left: 1099px;
  top: 255px;
  margin-left: 0;
  margin-top: -7%;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  
  /* link */
  
  color: #2C0186;
}

.header_about_link_02_mobile{

    width: 165px;
    height: 20px;
    margin-left: 65%;
    margin-top: -2%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    /* link */
    
    color: #2C0186;
  }

.header_about_link_03{

position: absolute;
width: 261px;
height: 20px;
left: 1096px;
top: 300px;
margin-left: 0;
margin-top: -6%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

/* link */

color: #2C0186;
}

.header_about_link_03_mobile{

    width: 165px;
    height: 20px;
    margin-left: 65%;
    margin-top: -2%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    /* link */
    
    color: #2C0186;
    }

.header_rooms_title{
position: absolute;
width: 210px;
height: 36px;
left: 150px;
top: 365px;


font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;

/* link */

color: #2C0186;
}

.header_rooms_title_mobile{
    position: absolute;
    width: 210px;
    height: 36px;
    left: 10%;
    top: 365px;
    
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    display: flex;
    align-items: center;
    
    /* link */
    
    color: #2C0186;
    }

@media screen and (min-width: 0px) and (min-width: 1000px) {
    .desktop-hide{ display: none; }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .mobile-hide{ display: none; }
}

@media screen and (min-width: 0px) and (max-width: 300px) {
    .mobile-show{ display: block; }
}



.body_event_grid_left_1 {
  position: absolute;
  width: 384px;
  height: 213px;
  left: 56px;
  top: 48vh;

}

.body_event_grid_left_1_mobile {
    position: absolute;
    width: auto;
    height: 213px;
    left: 0;
  }

  .body_event_grid_center_1_mobile {
    position: absolute;
    width: 100%;
    height: 1310px;
    left: 0;
        
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 2px 2px 2px;
  }
  

.body_event_grid_left_2 {
  position: absolute;
  width: 384px;
  height: 199px;
  left: 56px;
  top: 324px;
    
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.body_event_grid_center_1 {
  position: absolute;
  width: 590px;
  height: 1300px;
  left: 460px;
  top: 48vh;
      
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 2px 2px 2px;
}



.body_event_grid_center_2 {
  position: absolute;
  width: 590px;
  height: 430px;
  left: 464px;
  top: 1250px;
}

.iframe_quaq {
  height: 690px;
  border-radius: 20px;
}

.iframe_quaq_mobile {
    width: 100%;
    height: 690px;
    border: none;
    padding: 10px 2px 2px 2px;
    margin-top: 7%;
    margin-left: -5%;
  }
  

.body_event_grid_right_1 {
  position: absolute;
  width: 385px;
  height: 690px;
  left: 1070px;
  top: 48vh;

  background: #FFFFFF;
  border-radius: 20px;
  padding: 10px 2px 2px 2px;
}

.body_event_title_left_1 {
  position: absolute;
  width: 282px;
  height: 36px;
  left: 25%;
  top: -3%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 36px */

  display: flex;
  align-items: center;

  color: #2C0186;
}


.body_event_title_left_1_mobile {
    position: absolute;
    width: 282px;
    height: 36px;
    left: 5%;
    top: -14%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 36px */
  
    display: flex;
    align-items: center;
  
    color: #2C0186;
  }

.body_event_title_center {
  position: absolute;
  left: 40px;
  top: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ACACAC;
}

.body_event_title_center span {
  color: #2C0186;
  font-weight: 600;
  padding-left: 4px;
  padding-right: 4px;
}

.body_event_name_center {
position: absolute;
width: 470px;
height: 18px;
left: 160px;
top: 80px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 150%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;

color: #000000;

}

.body_event_text_center {
position: absolute;
width: 222px;
height: 18px;
left: 190px;
top: 130px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #ACACAC;
}

.body_event_date_center {
position: absolute;
width: 297.94px;
height: 23.23px;
left: 30px;
top: 190px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #0C0023;
}

.body_event_youtube_center {
  position: absolute;
  width: 90%;
  height: 315px;
  left: 5%;
  top: 23%;
  border-radius: 10px;
}

.body_event_button_action {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 25%;
  top: 49%;
  color: #2D2D2D;
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  background: linear-gradient(268.39deg, #23DBFF 6.54%, #3EBFFF 93.92%);
  box-shadow: 0px 0px 15px rgba(1, 183, 255, 0.4);
  border-radius: 10px;
}

.body_event_hr {
  position: absolute;
  width: 562px;
  height: 0px;
  left: 2%;
  top: 705px;
}

.body_event_category{
  position: absolute;
  width: 258.49px;
  height: 17.87px;
  left: 20px;
  top: 725px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  display: flex;
  align-items: center;

  color: #000000;
}

.body_event_category_list {
  width: auto;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  color: #FFFFFF;
  float: left;

  /* base_color */

  background: #013686;
  border-radius: 5px;
}

.body_event_tag{
  position: absolute;
  width: 142.94px;
  height: 35.74px;
  left: 20px;
  top: 830px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  display: flex;
  align-items: center;

  color: #000000;
}

.body_event_tag_list {
  width: auto;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  color: #FFFFFF;
  float: left;

  background: #2C0186;
  border-radius: 30px;
}

.body_event_hr_tag {
  position: absolute;
  width: 562px;
  height: 0px;
  left: 2%;
  top: 1020px;
}

.body_event_about {
  position: absolute;
  width: 142.94px;
  height: 35.74px;
  left: 20px;
  top: 1040px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  display: flex;
  align-items: center;

  color: #000000;
}

.body_event_about_text {
  position: absolute;
  width: 90%;
  height: 35.74px;
  left: 20px;
  top: 1150px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  /* or 27px */

  display: flex;
  align-items: center;

  color: #000000;
}

.body_about_link {
  text-decoration:none;  

}

.body_about_link:hover
{
  color:#000;
}

.body_event_post_title {
  position: absolute;
  left: 43%;
  right: 0%;
  top: -60%;
  bottom: 25%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Títulos */

  color: #0F589C;

}

.body_event_img_post {
  width: 50px;
  height: 50px;
  margin-left: -2%;
  margin-top: 14%;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
}

.body_event_img_post_mobile {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-top: 14%;
  
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
  }

.body_event_name_post {
  width: 129px;
  height: 14px;
  margin-left: 10%;
  margin-top: -9%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;
}

.body_event_name_post_mobile {
    width: 129px;
    height: 14px;
    margin-left: 15%;
    margin-top: -11%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 24px */
  
    display: flex;
    align-items: center;
  
    color: #000000;
  }

.body_event_user_post{
  width: 116px;
  height: 15px;
  margin-left: 10%;
  margin-top: -2%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #ACACAC;
}

.body_event_user_post_mobile{
    width: 116px;
    height: 15px;
    margin-left: 15%;
    margin-top: -4%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
  
    color: #ACACAC;
  }

.body_event_text_post {
  width: 300px;
  height: 61px;
  margin-left: -1%;
  margin-top: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;

  /* text */

  color: #0C0023;
}

.body_event_text_post_mobile {
    width: 300px;
    height: 61px;
    margin-left: 2%;
    margin-top: 12%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  
    /* text */
  
    color: #0C0023;
  }


.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  width: 384px;
  height: auto;
  left: 90px;
  top: 90px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 2px 2px 2px;
}

.dialogbox-mobile .body-mobile {
    width: 100%;
    height: auto;
    left: 0;
    top: 90px;
    align-items: center;
    padding: 10px 2px 2px 2px;
  }

.body .message {
  min-height: 30px;
  height: auto;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  color: #797979;
  margin-top: -1%;
  overflow:auto; 
}

ul {
    list-style:none;
    height: 670px;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
    width: 130%;
    margin-left: 10%;
  }

.body_event_like_post {

  margin-left: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

color: #ACACAC

}

.body_event_deslike_post {

  margin-left: 83%;
  margin-top: -6%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ACACAC

}

.body_event_share_post {

  margin-left: 40%;
  margin-top: -6%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ACACAC

}

.body_event_comment_post {

  margin-left: 40%;
  margin-top: -10%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ACACAC

}

.body_event_likes_post_like {
  margin-left: 4%;
  margin-top: -4%;
}


.body_event_deslikes_post_like {
  margin-left: 5%;
  margin-top: -20%;
}

.body_event_deslikes_post_number {
  margin-left: 7%;
  margin-top: -20%;
}

.body_event_comment_post_like {
  margin-left: -50%;
  margin-top: -2px;
}

.body_event_comment_post_number {
  margin-left: 3%;
}

.body_event_category_top {
  margin-top: 130%;
}

.body_event_tag_top {
  margin-top: 150%;
}

.body_event_img_post_text {
  border-radius: 5%;
  margin-left: 10%;
  margin-top: 5%;
  padding: 2px 2px 2px 2px;
  width: 300px;
  height: auto;
}

.body_event_img_post_text_mobile {
    border-radius: 5%;
    margin-left: 2%;
    margin-top: 5%;
    padding: 2px 2px 2px 2px;
    width: 300px;
    height: auto;
  }



.nav {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  margin-top: -2vh;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #000;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 16px;
  margin-top: 5px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000;
}

.nav > .nav-links > a:hover {
  color: #3c3569;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 16px;
    color: #000;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
